/*****************************************************************************/
/*               Name: Data Visualization Coursework - F21DV                 */
/*              File Description: Hierchical Structures Styles               */
/*                        Author: Heba El-Shimy                              */
/*                        Email: he12@hw.ac.uk                               */
/*                         Date: 18 July 2018                                */
/*****************************************************************************/

path {
  stroke: var(--transparent-lighter-charcoal-grey);
  stroke-width: 1;
}
text {
  fill: var(--white);
  font-size: 0.75rem;
}
#explanation {
  font-size: 0.85rem;
  color: var(--white);
  width: 100px;
  height: 80px;
  overflow-wrap: break-word;
  text-align: center;
  font-weight: bold;
}
.category {
  font-size: 0.5rem;
  font-weight: bold;
}
.tooltip {
  display: none;
  position: absolute;
  z-index: 1000;
  width: 60px;
  height: 40px;
  padding: 1rem;
  background-color: var(--transparent-lighter-charcoal-grey);
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  vertical-align: middle;
  text-align: center;
  color: var(--white);
}