/*****************************************************************************/
/*               Name: Data Visualization Coursework - F21DV                 */
/*                 File Description: Force Layout Styles                     */
/*                        Author: Heba El-Shimy                              */
/*                        Email: he12@hw.ac.uk                               */
/*                         Date: 28 July 2018                                */
/*****************************************************************************/

#graph {
  text-align: center;
  font-size: 0.85rem;
  font-weight: bold;
  padding-top: 0.5rem;
}
.tooltip-graph {
  font-size: 0.75rem;
  width: 200px;
  height: 50px;
  padding: 0.75rem;
  display: none;
  position: absolute;
  z-index: 1000;
  background-color: var(--transparent-lighter-charcoal-grey);
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  vertical-align: middle;
  text-align: center;
  color: var(--white);
}
#graph circle text.graph-labels {
  position: absolute;
  top: 100px;
  left: 100px;
}